@model LLB.Models.ViewModel.ChangePassword

@{
    Layout = "_LayoutMain";
}

<div class="container-fluid">
    <div class="card mb-3">
        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Password Reset</h5>
            <p class="text-center small">Enter your old password and then the replacement passsword </p>
        </div>
        <div class="card-header">

            <span class="text-success">@TempData["success"]</span>
            <span class="text-danger">@TempData["error"]</span>
        </div>
        <div class="card-body">
            <form id="changePasswordForm" class="row g-3 needs-validation" method="post" novalidate>
                @*method="post" action="/Account/ChangePasswordx"*@
                <div class="col-md-5">
                    <label asp-for="CurrentPassword"></label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" required>
                    <div class="invalid-feedback" asp-validation-for="CurrentPassword">Please enter your password!</div>
                </div>
                <div class="col-md-7"></div>

                <div class="col-md-5">
                    <label asp-for="NewPassword">New Password</label>
                    <input asp-for="NewPassword" type="password" class="form-control" required>
                    <div class="invalid-feedback" asp-validation-for="NewPassword">Please enter your password!</div>
                </div>
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <label asp-for="ConfirmPassword">Confirm New Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" required>
                    <div class="invalid-feedback" aps-validation-for="ConfirmPassword">Please enter your password!</div>
                </div>
                <div class="col-md-7"></div>
                <div class="col-3">
                    <button class="btn btn-primary w-100" type="submit">Submit</button>
                </div>
                @*<div class="col-12">
                    <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>
                    </div>*@
            </form>

        </div>
    </div>
</div>
<script type="text/javascript">$(document).ready(function () {
        $("#changePasswordForm").on('submit', function () {
            $.ajax({
                type: "POST",
                url: "/Account/ChangePasswordx",
                data: $("#changePasswordForm").serialize(),
                success: function (data) {
                    toastr.success("Password successfully Changed", { tapToDismiss: true });
                },
                error: function (err) {
                    toastr.error("Error Encountered", { tapToDismiss: true });
                },
                completed: function () {
                }
            });
        })
    })</script>