@{
    Layout = "_Layout";
}

<br />

<br />


<main class="main">



    <!-- About Section -->
    <section id="hero" class="about section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4 align-items-center">
                <!-- Image Column -->
                <div class="col-lg-6 order-2 order-lg-2 d-flex align-items-center">

                    <img src="/Gp/assets/img/kind_677517.jpg" class="img-fluid rounded shadow" alt="Liquor Licensing Board Office" style="max-height: 700px; object-fit: cover; width: 100%;">

                </div>

                <!-- Content Column -->
                <div class="col-lg-6 order-2 order-lg-1 text-center">
                    <h2 class="fw-bold text-success">Liquor Licensing Board<span>.</span></h2>
                    <p class="lead text-muted">Digital Means for Liquor Enterprising</p>

                    <style>
                        .icon-box {
                            transition: transform 0.3s ease-in-out;
                        }

                            .icon-box:hover {
                                transform: scale(1.1);
                            }
                    </style>

                    <!-- Buttons Section -->
                    <div class="row gy-4 mt-4 justify-content-center">
                        <div class="col-md-4">
                            <a href="/Auth/Login" class="text-decoration-none">
                                <div class="icon-box text-center p-3 shadow-sm rounded bg-light">
                                    <i class="bi bi-gem text-success display-5"></i>
                                    <h3 class="mt-2 text-dark fw-semibold">LOGIN</h3>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="/Auth/Register" class="text-decoration-none">
                                <div class="icon-box text-center p-3 shadow-sm rounded bg-light">
                                    <i class="bi bi-card-list text-success display-5"></i>
                                    <h3 class="mt-2 text-dark fw-semibold">REGISTER</h3>
                                </div>
                            </a>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </section>

    <!-- Clients Section -->
    <!-- Features Section -->
    <section id="about" class="features section">
        <div class="container">

            <div class="container section-title" data-aos="fade-up">
                <h2>About</h2>
                <p>All About Us</p>
            </div>



            <div class="text-center px-4">
                <h3 class="fw-bold text-success">Revolutionizing Liquor Licensing Through Digital Innovation</h3>

                <p class="fst-italic text-muted">
                    Fast & Hassle-Free Licensing • Compliance Made Simple • Empowering Liquor Entrepreneurs
                </p>

                <ul class="list-unstyled text-start d-inline-block">
                    <li class="mb-3">
                        <i class="bi bi-check2-all text-success fs-4 me-2"></i>
                        <span class="fw-medium">
                            Apply for, renew, and manage liquor licenses online—no more paperwork!
                            <br>Get approvals faster with our streamlined digital process.
                        </span>
                    </li>
                    <li class="mb-3">
                        <i class="bi bi-check2-all text-success fs-4 me-2"></i>
                        <span class="fw-medium">
                            Stay up to date with regulations and avoid penalties.
                            <br>Automated reminders and digital tracking for seamless compliance.
                        </span>
                    </li>
                    <li class="mb-3">
                        <i class="bi bi-check2-all text-success fs-4 me-2"></i>
                        <span class="fw-medium">
                            Access business insights and industry resources to grow your enterprise.
                            <br>A digital hub designed to support startups and established brands alike.
                        </span>
                    </li>
                </ul>

                <p class="text-justify mt-4">
                    At <span class="fw-bold text-success">Liquor Licensing Board</span>, we are committed to transforming the liquor industry through digital innovation.
                    Our mission is to streamline licensing processes, ensure compliance, and support responsible liquor entrepreneurship through modern, technology-driven solutions.
                </p>

                <p class="text-justify">
                    We provide a seamless digital platform that simplifies liquor license applications, renewals, and regulatory compliance,
                    reducing paperwork and improving efficiency for businesses of all sizes.
                    By leveraging automation and data-driven insights, we enhance transparency and accountability in the industry while promoting responsible alcohol distribution.
                </p>

                <p class="text-justify">
                    With a vision to modernize the liquor licensing landscape, we empower entrepreneurs with the tools they need to operate legally, efficiently, and sustainably.
                    Whether you are a startup, a well-established brand, or a regulatory authority, <span class="fw-bold text-success">Liquor Licensing Board</span> is your trusted digital partner
                    in navigating the complexities of liquor enterprise management.
                </p>
            </div>



            <br />

            <br />

            <div class="row gy-6">
                <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="~/Gp/assets/img/features-bgtc.jpg" alt=""></div>
                <div class="col-lg-6">
                    <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-archive flex-shrink-0"></i>
                        <div>
                            <h4>Secure & Transparent Process</h4>
                            <p>
                                ✅ Digital records ensure transparency and accountability.
                            </p>
                            <p>
                                ✅ Secure platform protecting your business data and applications.
                            </p>
                        </div>
                    </div><!-- End Features Item-->

                    <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-basket flex-shrink-0"></i>
                        <div>
                            <h4>24/7 Digital Access</h4>
                            <p>
                                ✅ Apply, track, and manage your liquor license anytime, anywhere.
                            </p>
                            <p>
                                ✅ No need for office visits—handle everything online at your convenience.
                            </p>
                        </div>
                    </div><!-- End Features Item-->

                    <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-broadcast flex-shrink-0"></i>
                        <div>
                            <h4>Business Growth & Networking</h4>
                            <p>
                                ✅ Connect with industry stakeholders and stay updated on liquor regulations.
                            </p>
                            <p>
                                ✅ Access exclusive resources to expand and manage your business effectively.
                            </p>
                        </div>
                    </div><!-- End Features Item-->

                    <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-camera-reels flex-shrink-0"></i>
                        <div>
                            <h4>Empowering Liquor Entrepreneurs</h4>
                            <p>
                                ✅ Access business insights and industry resources to grow your enterprise.
                            </p>
                            <p>
                                ✅ A digital hub designed to support startups and established brands alike.
                            </p>
                        </div>
                    </div><!-- End Features Item-->
                </div>
            </div>
        </div>
    </section><!-- /Features Section -->
    <!-- Services Section -->
    <section id="services" class="services section">
        <div class="container section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>Check our Services</p>
        </div><!-- End Section Title -->

        <div class="container ">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <div class="icon ">
                            <i class="bi bi-activity" style="color: floralwhite;"></i>
                        </div>

                        <h3>Online Liquor License Application & Renewal</h3>

                        <p>Seamlessly apply for new liquor licenses or renew existing ones through our secure digital platform.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-broadcast" style="color: floralwhite;"></i>
                        </div>

                        <h3>Compliance Monitoring & Advisory</h3>

                        <p>Stay compliant with liquor laws through automated reminders, regulatory updates, and expert guidance.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-easel" style="color: floralwhite;"></i>
                        </div>

                        <h3>Digital License Verification & Tracking</h3>

                        <p>Easily verify and track the status of liquor licenses in real time, ensuring transparency and accountability.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-bounding-box-circles" style="color: floralwhite;"></i>
                        </div>

                        <h3>Business Consultation & Support</h3>

                        <p>Get expert assistance on licensing requirements, business growth strategies, and legal compliance. </p>

                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-calendar4-week" style="color: floralwhite;"></i>
                        </div>

                        <h3>License Transfer & Amendments</h3>

                        <p>Easily request modifications, ownership transfers, or updates to your liquor license through our digital platform.</p>

                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-chat-square-text" style="color: floralwhite;"></i>
                        </div>

                        <h3>Liquor Sales Data & Market Insights</h3>

                        <p>Access valuable industry trends, sales analytics, and market insights to help grow your liquor business strategically.</p>

                    </div>
                </div><!-- End Service Item -->
            </div>
        </div>
    </section><!-- /Services Section -->
    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">
        <img src="~/Gp/assets/img/features-bgtcW.jpg" alt="">
        <div class="container">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-xl-10">
                    <div class="text-center">
                        <h3>Get Licensed, Stay Compliant, and Grow Your Business!</h3>

                        <p>
                            Join the digital revolution in liquor licensing today! Simplify your application process, ensure compliance, and gain valuable industry insights—all in one place.
                        </p>
                        <p>
                            Apply Now |  Check Your License Status |  Get Expert Assistance

                            Don’t wait—take the next step towards hassle-free liquor licensing!
                        </p>
                        <a class="cta-btn" href="#">Call To Action</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Call To Action Section -->

    <section id="stats" class="stats section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4 align-items-center justify-content-between">
                <div class="col-lg-5">
                    <img src="~/Gp/assets/img/stats-ric.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <h3 class="fw-bold fs-2 mb-3">Transforming Liquor Licensing with Digital Excellence</h3>
                    <p>
                        At Liquor Licensing Board, we are committed to revolutionizing the liquor licensing process through seamless digital solutions. With over 5,000+ successful liquor licenses processed and 10,000+ business owners supported, our platform ensures that entrepreneurs can obtain, renew, and manage their liquor licenses effortlessly. Our innovative approach delivers 95% faster approvals compared to traditional methods, reducing paperwork and simplifying compliance.

                        With 24/7 digital access, businesses can apply, track, and verify their licenses anytime, anywhere, ensuring smooth operations without delays. By leveraging technology, we empower liquor enterprises to focus on growth while staying compliant with industry regulations. Join us today and experience a smarter, more efficient way to handle liquor licensing!
                    </p>
                    <div class="row gy-4">
                        <div class="col-lg-6">
                            <div class="stats-item d-flex">
                                <i class="bi bi-emoji-smile flex-shrink-0"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Happy Clients</strong> <span>Faster Approvals – Compared to traditional licensing methods.</span></p>
                                </div>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-6">
                            <div class="stats-item d-flex">
                                <i class="bi bi-journal-richtext flex-shrink-0"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Projects</strong> <span>Business Owners Supported – Ensuring smooth operations & compliance.</span></p>
                                </div>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-6">
                            <div class="stats-item d-flex">
                                <i class="bi bi-headset flex-shrink-0"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Hours Of Support</strong> <span>Digital Access – Apply, track, and manage licenses anytime, anywhere.</span></p>
                                </div>
                            </div>
                        </div><!-- End Stats Item -->

                        <div class="col-lg-6">
                            <div class="stats-item d-flex">
                                <i class="bi bi-people flex-shrink-0"></i>
                                <div>
                                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Hard Workers</strong> <span>Liquor Licenses Processed – Helping businesses get licensed faster.</span></p>
                                </div>
                            </div>
                        </div><!-- End Stats Item -->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Stats Section -->
    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">
        <img src="~/Gp/assets/img/testimonials-bga.jpg" class="testimonials-bg" alt="">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      }
                    }
                </script>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Gp/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>The Liquor Licensing Board made my licensing process unbelievably easy. I applied online, and within days, my license was approved. No long queues, no hassle!.</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Gp/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>Managing my liquor business is now stress-free! Their compliance tracking system sends me reminders, so I never miss a renewal deadline.</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Gp/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>I was expecting the usual months-long approval process, but with this platform, I got my license 95% faster than I anticipated. Highly recommend!</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Gp/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>Whenever I had a question, their support team responded immediately. They walked me through every step of my application</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Gp/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>This platform is exactly what the liquor industry needed. Secure, transparent, and easy to use—getting licensed has never been this convenient!</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section><!-- /Testimonials Section -->


<!-- Contact Section -->
    <section id="contact" class="contact section">
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
                <iframe style="border:0; width: 100%; height: 270px;" src="    

https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3778.3183491882875!2d31.0399113!3d-17.8235267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1931a4fd90750d77%3A0x778a340450fd6851!2sMakombe%20Government%20Complex!5e0!3m2!1sen!2s!4v1234567890

" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><!-- End Google Maps -->

            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Address</h3>
                            <p>Corner of Herbert Chitepo Avenue and Harare Street in Harare, Zimbabwe.</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Call Us</h3>
                            <p>(024)2792751</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-envelope flex-shrink-0"></i>




                        <div>
                            <h3>Email Us</h3>
                            <p>info@example.com</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>

                <div class="col-lg-8">
                    <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                            </div>

                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                            </div>

                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>

                                <button type="submit">Send Message</button>
                            </div>

                        </div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>

    </section><!-- /Contact Section -->

</main>